# {{ ansible_managed }}

{% for key, value in auditd_options_merged.items() %}
{% if value is not none %}
{{ key }} = {{ value }}
{% else %}
# {{ key }} has no value defined and is commented out
{% endif %}
{% endfor %}
